<!DOCTYPE html>
<html>
<head>
    <title>Socket IO with Auth</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/jQueryUI.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>

</head>
<body>
        <h2 class="ui dividing header">Login to jamOn</h4>
        <form id="login" action="javascript:void(0)" method="POST" class="ui inverted form">
          <div class="two fields">

            <div class="field">
              
              <div class="ui icon input">
              <input type="text" id="username" placeholder="Username" autofocus>
              <i class="user icon"></i>
              </div>            
            </div>

            <div class="field">
              
              <div class="ui icon input">
              <input type="password" id="password" placeholder="Password">
              <i class="lock icon"></i> 
              </div>
            </div>

          </div>
            
            <div class="ui buttons">
            <input class="large ui button" type="submit" value="Login">
            <div class="or"></div>
            <a class= "large ui positive button" href="/signup" cl>Sign Up</a>
            </div>
        </form>

        <div id="issue" class="hidden">
          <div class="header">We had some issues</div>
          <ul class="list">
            <li>Either your username or password was incorrect</li>
          </ul>
        </div>
        
        <div id="backingTrack" class="footer, hidden">

          <div class="ui inverted button">1</div>
          <div id="bongo" class="ui inverted black button">2 
            <audio id="playBongo"></audio>
          </div>
          <div id="elecBeat" class="ui inverted yellow button">3
            <audio id="elecBeatA"></audio>
          </div>
          <div id="stringsPlay" class="ui inverted green button">4 
            <audio id="playStrings"></audio>
          </div>
          <div id="trumpets" class="ui inverted blue button">5
            <audio id="playTrump"></audio>
          </div>
          <div class="ui inverted orange button">6</div>
          <div class="ui inverted teal button">7</div>
        </div>


    
        

        <audio id="mainAudio"></audio>
    
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/javaScript.js"></script>

        <div style="color: linen;"class="clear" id="messages">
        </div>

        <div style="position:fixed; width:100%; bottom:0px" class = "ui form">
        <div class="field">
        <form id = "message" action="javascript:void(0)" style="display:none">
          <label for="message"></label>
          <input type="text" name="message" id="text" placeholder="type here to chat">
          <input type="submit" class="hidden">
        </form>
        </div>
        </div>

<!-- <div id="melody" class="footer">

  <div class="ui inverted button">Standard</div>
  <div class="ui inverted black button">Black</div>
  <div id="elecBeat" class="ui inverted yellow button">Beat #1
    <audio id="elecBeatA"></audio>
  </div>
  <div class="ui inverted green button">Green</div>
  <div class="ui inverted blue button">Blue</div>
  <div class="ui inverted orange button">Orange</div>
  <div class="ui inverted teal button">Teal</div>
</div>

<div id="harmony" class="">

  <div class="ui inverted button">Standard</div>
  <div class="ui inverted black button">Black</div>
  <div id="elecBeat" class="ui inverted yellow button">Beat #1
    <audio id="elecBeatA"></audio>
  </div>
  <div class="ui inverted green button">Green</div>
  <div class="ui inverted blue button">Blue</div>
  <div class="ui inverted orange button">Orange</div>
  <div class="ui inverted teal button">Teal</div>
</div>


<div id="bass" class="">

  <div class="ui inverted button">Standard</div>
  <div class="ui inverted black button">Black</div>
  <div id="elecBeat" class="ui inverted yellow button">Beat #1
    <audio id="elecBeatA"></audio>
  </div>
  <div class="ui inverted green button">Green</div>
  <div class="ui inverted blue button">Blue</div>
  <div class="ui inverted orange button">Orange</div>
  <div class="ui inverted teal button">Teal</div>
</div>
 -->




</body>
</html>
